# Copia estas opciones a server/server.properties según necesites.
motd=Minecraft Portable Server
server-port=25565
server-ip=
max-players=20
online-mode=true
white-list=false
enable-query=false
enable-rcon=false
